[include]
	path = .gitconfig.local
[core]
	autocrlf = input
[alias]
	c      = commit -v
	cm     = commit -m
	ammend = commit --amend
	o      = checkout
	pl     = pull
	ps     = push
	psu    = push -u
	r      = remote
	b      = checkout -b
[ghq]
	root = ~/.ghq
